@model ReadLater5.Application.Inputs.Commands.BookmarkCommands.BookmarkUpdateCommand

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("Update", "Bookmarks", FormMethod.Post, new { id = "updateBookmarkForm", @class = "needs-validation", novalidate = true }))
                {
                    <h4>Bookmark</h4>
                    <hr />
                    @Html.HiddenFor(x => x.Bookmark.Id)
                    <div class="form-group">
                        @Html.LabelFor(x => x.Bookmark.URL)
                        @Html.TextBoxFor(x => x.Bookmark.URL, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Bookmark.URL, String.Empty, new { @style = "color:#f46a6a" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Bookmark.ShortDescription)
                        @Html.TextBoxFor(x => x.Bookmark.ShortDescription, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Bookmark.ShortDescription, String.Empty, new { @style = "color:#f46a6a" })
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control" id="selectCategoryId" name="Bookmark.CategoryId">
                            @if (Model != null && Model.Bookmark != null && Model.Bookmark.Category != null)
                            {
                                <option value="@Model.Bookmark.CategoryId" selected="selected">@Model.Bookmark.Category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="float-right">
                        <button id="submit" type="submit" class="btn btn-primary w-md">Submit</button>
                    </div>
                }
                @if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    <div style="color:green">@ViewBag.Success</div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
        var urlCategories = '@Url.Action("GetCategories", "Categories")';
            $('#selectCategoryId').select2({
            ajax: {
                url: urlCategories,
                type: 'GET',
                data: function (params) {
                    var query = {
                        length: 5,
                        columns: [{
                            data: 'name',
                            search: {
                                value: params.term || ''
                            }
                        }]
                    }

                    return query;
                },
                processResults: function (response) {
                    return {
                        results: response.data.map(item => {
                            return {
                                id: item.id,
                                text: item.name
                            }
                        })
                    }
                }
            }
        });
    });
    </script>
}
